* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}

/* HEADER */
.header {
  height: 55px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #222;
}

.logo {
  font-weight: 700;
  font-size: 16px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

#avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 55px;
  left: -260px;
  width: 240px;
  height: calc(100% - 55px);
  background: #111;
  padding: 15px;
  transition: 0.3s ease;
  z-index: 10;
}

#sidebar.active {
  left: 0;
}

.sidebar-section {
  padding: 12px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

.sidebar-section.logout {
  color: red;
}

/* NOTIFICATION */
#notificationPanel {
  position: fixed;
  top: 55px;
  right: -280px;
  width: 260px;
  height: calc(100% - 55px);
  background: #111;
  padding: 15px;
  transition: 0.3s;
}

#notificationPanel.active {
  right: 0;
}

/* MAIN */
.main {
  padding: 15px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab-btn {
  flex: 1;
  margin: 2px;
  padding: 8px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 13px;
}

.tab-btn.active {
  background: #ffb300;
  color: #000;
}

.badge {
  background: red;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
}

/* TAB CONTENT */
.tab {
  display: none;
  background: #111;
  padding: 20px;
  border-radius: 8px;
}

.tab.active {
  display: block;
}

/* FOOTER */
.footer {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  padding: 10px;
}
